<div class="container">
    <article>
        <h1>{{Headline}}</h1>
        <h2>{{Subhead}}</h2>
        <p class="contributors">{{Contributors}}</p>

        <img src="{{Pictures.[0].url}}" />

        <p class="text">{{Text}}</p>
    </article>
</div>